.mapboxgl-popup-close-button {
  color: #000;
  background-color: #ddd;
  font-size: 18px;
  font-weight: 400;
  height: auto;
  line-height: 1;
  padding: 4px 8px;
}

.mapboxgl-popup-close-button:hover {
  color: #fff;
  background-color: #000;
}

.popup-container {
  padding: 5px 5px 0;
  min-width: 175px;
  max-width: 260px;
}

.popup-container h2 {
  font-size: 1.5rem;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.popup-container p {
  font-size: 1.3rem;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
}

.popup-container .popup-link {
  margin-top: 8px;
}

.control-geolocate .mapboxgl-ctrl-icon,
.control-navigation .mapboxgl-ctrl-icon {
  margin-bottom: 0;
}

.control-geolocate {
  position: absolute;
  top: 10px;
  left: 10px;
}

.control-navigation {
  position: absolute;
  top: 10px;
  right: 10px;
}
